:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(172.84deg, #FFB88C 2.29%, #DE6262 97.71%);
  font-family: 'DM Sans', Arial, sans-serif;
}

.app-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
}
